<mat-card class="ad-container">
    <div class="ad-details">
      <h1>Ogrodzenie panelowe - 52 zł/metr</h1>
      <p class="ad-date">Dodane: 10 stycznia 2024</p>
      <div class="ad-images">
        <img src="https://via.placeholder.com/800x600" alt="Ad Image">
      </div>
      <div class="ad-description">
        <h2>Opis:</h2>
        <p>
          Ogrodzenie panelowe - nowe, wysokiej jakości. Cena: 52 zł/metr. Idealne do ogrodzenia działki,
          posesji, firmy. Sprzedajemy w dowolnych ilościach. Skontaktuj się z nami, aby dowiedzieć się więcej.
        </p>
      </div>
    </div>
    <div class="ad-contact">
      <h2>Dane kontaktowe:</h2>
      <p>Sprzedający: Jan Kowalski</p>
      <p>Telefon: 123-456-789</p>
      <p>Email: jan.kowalski@example.com</p>

      <button>
        Kupuję
      </button>
    </div>

</mat-card>
