<div>

  <h2>Dodaj ogłoszenie</h2>
  <!--  tytuł i kategoria -->

  <mat-card >
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <!--  zdjęcia  -->
  <mat-card >
    <mat-card-title>Zdjęcia</mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>


  <!--  opis  -->
  <mat-card >
    <mat-card-content>

    </mat-card-content>
  </mat-card>


  <!--  lokalizacja  -->
  <mat-card >
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <!--  dane kontaktowe  -->
  <mat-card >
    <mat-card-title>Dane kontaktowe</mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

</div>
