<!-- Toolbar -->
<div class="toolbar" role="banner">
<!--  <button style="width: 80px" (click)="start()">-->
<!--    <mat-icon> list </mat-icon>-->
<!--  </button>-->
  <button class="logo-btn" (click)="openStartPage()">
    <span> SimpleOLX </span>
  </button>

  <button class="add-btn" [disabled]="!isLogIn" (click)="add()">
    <span>  Dodaj ogłoszenie</span>
  </button>
  <button class="logout-btn" [disabled]="!isLogIn" (click)="logout()">
    <span> Log out </span>
  </button>
  <button class="login-btn" [disabled]="isLogIn" (click)="login()">
    <span> Log in </span>
  </button>
  <mat-icon> account_circle </mat-icon>
</div>

<div class="container">
    <router-outlet> </router-outlet>
</div>

