<div>


<!--  Wyszukiwanie-->
  <mat-card class="search">
    <form [formGroup]="searchGroup" (ngSubmit)="search()" class="search-field">
      <mat-form-field appearance="outline" class="search-input">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Znajdź coś dla siebie</mat-label>
        <input matInput formControlName="phrase" placeholder="Szukaj" [(ngModel)]="searchPhrase">
      </mat-form-field>
      <button type="submit" class="search-button">
        <span>Szukaj</span>
        <mat-icon matSuffix>search</mat-icon>
      </button>
    </form>
  </mat-card>

<!--  Kategorie-->
  <mat-card >
    <mat-card-title>Kategorie główne</mat-card-title>
    <mat-card-content>
      <button class="category-button" (click)="list(1)" style="background: greenyellow;">
        <mat-icon class="categories"> directions_run </mat-icon>
        <span> Sport </span>
      </button>
      <button class="category-button" (click)="list(2)" style="background: yellow;">
        <mat-icon class="categories"> music_note </mat-icon>
        <span> Muzyka </span>
      </button>
      <button class="category-button" (click)="list(0)" style="background: mediumpurple;">
        <mat-icon class="categories"> personal_video </mat-icon>
        <span> Elektronika </span>
      </button>
      <button class="category-button" (click)="list(3)" style="background: pink;">
        <mat-icon class="categories">school</mat-icon>
        <span> Edukacja </span>
      </button>
      <button class="category-button" (click)="list(4)" style="background: orange;">
        <mat-icon class="categories"> favorite </mat-icon>
        <span> Zdrowie </span>
      </button>
    </mat-card-content>
  </mat-card>

</div>
