<div>


<!--  Wyszukiwanie-->

  <mat-card class="search">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix> search </mat-icon>
      <mat-label>Znajdź coś dla siebie</mat-label>
      <input matInput placeholder="Szukaj">
    </mat-form-field>
    <button (click)="search()">
      <span> Szukaj </span>
      <mat-icon matSuffix> search </mat-icon>
    </button>
  </mat-card>

<!--  Kategorie-->
  <mat-card >
    <mat-card-title>Kategorie główne</mat-card-title>
    <mat-card-content>
      <button (click)="list()">
        <mat-icon> directions_car</mat-icon>
        <span> Motoryzajca </span>
      </button>
      <button>
        <span> Moda </span>
      </button>
    </mat-card-content>
  </mat-card>

</div>
