<div>
  <!--  Wyszukiwanie-->

  <mat-card class="search">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix> search </mat-icon>
      <mat-label>Znajdź coś dla siebie</mat-label>
      <input matInput placeholder="Szukaj">
    </mat-form-field>
    <button (click)="search()">
      <span> Szukaj </span>
      <mat-icon matSuffix> search </mat-icon>
    </button>
  </mat-card>

  <mat-card class="list">
    <h2> Znaleźliśmy
      <span *ngIf="numberOfAdverts===0"> {{numberOfAdverts}} ogłoszeń</span>
      <span *ngIf="numberOfAdverts===1"> {{numberOfAdverts}} ogłoszenie</span>
      <span *ngIf="numberOfAdverts>1 && numberOfAdverts<5"> {{numberOfAdverts}} ogłoszenia</span>
      <span *ngIf="numberOfAdverts>5">{{numberOfAdverts}} ogłoszeń</span>
    </h2>

     <div *ngFor="let item of adverts" >
       <mat-card-content>
         <advert-view> {{item}}</advert-view>
       </mat-card-content>
     </div>

  </mat-card>
</div>
