h2 {
  margin: 8px 0;
}
p {
  margin: 0;
}


.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 1200px;
}

.search-input {
  flex: 3;
  height: 60px;
  margin-right: 10px;
}

.search-button {
  flex: 1;
  font-weight: 600;
  background-color: #002f34;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  height: 60px;
  width: 100px;
  cursor: pointer;

  &:hover {
    color: #799497;
  }
}

.thumbnail {
  width: 300px;
  height: 300px;
  margin: 5px;
  object-fit: cover;
}

mat-card{
  margin: 30px 150px;
}

.ads-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 20px auto;
}

.ad-card {
  width: calc(100vw - 100px);
  margin: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;

  &:hover {
    transform: scale(1.05);
  }

  .ad-image {
    flex: 1;
    margin-right: 20px;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .ad-details {
    flex: 2;
    padding: 10px;

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
      margin-top: 0;
    }

    .ad-date {
      color: #777;
      margin-bottom: 10px;
    }

    .ad-price {
      font-size: 16px;
      font-weight: bold;
    }
  }
}
