<div>
  <!--  Wyszukiwanie-->
  <mat-card class="search">
    <form [formGroup]="searchGroup" (ngSubmit)="search()" class="search-field">
      <mat-form-field appearance="outline" class="search-input">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Znajdź coś dla siebie</mat-label>
        <input matInput formControlName="phrase" placeholder="Szukaj" [(ngModel)]="searchPhrase">
      </mat-form-field>
      <button type="submit" class="search-button">
        <span>Szukaj</span>
        <mat-icon matSuffix>search</mat-icon>
      </button>
    </form>
  </mat-card>

  <mat-card class="list">
    <h2> Znaleźliśmy
      <span *ngIf="numberOfAdverts===0"> {{numberOfAdverts}} ogłoszeń</span>
      <span *ngIf="numberOfAdverts===1"> {{numberOfAdverts}} ogłoszenie</span>
      <span *ngIf="numberOfAdverts>1 && numberOfAdverts<5"> {{numberOfAdverts}} ogłoszenia</span>
      <span *ngIf="numberOfAdverts>=5">{{numberOfAdverts}} ogłoszeń</span>
    </h2>

    <div class="ads-container">
      <div class="ad-card" *ngFor="let ad of findAdverts" (click) ="advert()">
        <div class="ad-image">
<!--          <img src="{{ ad.image }}" alt="Ad Image">-->
          <img src="https://via.placeholder.com/300x200" alt="Ad Image">
        </div>
        <div class="ad-details">
          <h2>{{ ad.title }}</h2>
          <!--        <p class="ad-date">{{ ad.date }}</p>-->
          <p class="ad-date">Data dodania: 10 stycznia 2024</p>
          <p class="ad-price">Cena: {{ ad.price }}</p>
        </div>
      </div>
    </div>

  </mat-card>



</div>
